.blog-form {
    border-radius: 14px;
    width: 100%;
    max-width: 600px;
    margin: 20px;
    padding: 30px;
    box-shadow: 0 10px 30px #00000014;
}

button.b-btn:hover {
    background: white;
    color: black;
    transition: 0.3s ease;
}

input[type="file"] {
    cursor: pointer;
}

.input-sec {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 18px;
}

label {
    font-size: 14px;
    font-weight: 500;
    color: #444;
}

.input-sec input,
.input-sec textarea {
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 14px;
}

.input-sec input:focus,
.input-sec textarea:focus {
    outline: none;
    border-color: #000;
}

input[type="file"] {
    padding: 6px;
    cursor: pointer;
}



.b-btn:hover {
    background: #fff;
    color: #000;
    border: 1px solid #000;
}

.error {
    font-size: 12px;
    color: coral;
}