.blog-card {
    border: 1px solid;
    border-radius: 10px;
    overflow: hidden;
    max-width: 400px;
    width: 100%;
    transition: 0.3s ease-in-out;
    position: relative;

    span.edit-btn {
        position: absolute;
        right: 0;
        padding: 10px;
        background: black;
        border-radius: 50px;
        filter: brightness(2.4);
        cursor: pointer;
        z-index: 10;
    }
}

.blog-card img:hover {
    filter: opacity(0.7);
    transition: 0.2s ease-in-out;
}

.mainblog-top-head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

p.blog-summary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button.b-btn {
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
}

button.b-btn:hover {
    background: white;
    color: black;
    transition: 0.3s ease;
}

.blog-card img {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.blog-details {
    padding: 8px;
    cursor: pointer;
}

.blog-section {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 50px;
    display: flex;
    flex-direction: row;
    column-gap: 36px;
}

.blog-title {
    font-size: 20px;
    font-weight: 500;
}


.blogDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;

    p.content {
        padding: 20px;
        font-size: 20px;
        font-family: 'Geist Mono';
    }
}

.blogDetails h1.title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Geist Mono';
}

.blogDetails .blogDetails-banner {
    width: 100%;
    margin-bottom: 20px;

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}