.blog-card {
    border: 1px solid;
    border-radius: 10px;
    overflow: hidden;
    max-width: 400px;
    width: 100%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.blog-card:hover {
    filter: opacity(0.7);
    transition: 0.2s ease-in-out;
}

.mainblog-top-head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

p.blog-summary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button.b-btn {
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
}

button.b-btn:hover {
    background: white;
    color: black;
    transition: 0.3s ease;
}

.blog-card img {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.blog-details {
    padding: 8px;
}

.blog-section {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 50px;
    display: flex;
    flex-direction: row;
    column-gap: 36px;
}

.blog-title {
    font-size: 20px;
    font-weight: 500;
}